PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/digital-solutions
JWT_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# Nodemailer config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
NOTIFY_EMAIL=Kapilnetsolutions@gmail.com

# WhatsApp number (with country code, no +)
WHATSAPP_NUMBER=919999999999
